<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <appender name="defaultLogger" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
</appender>

    <logger name="no.nav" level="${log.level.no.nav:-INFO}"/>
    <logger name="no.nav.security.token" level="${log.level.no.nav.security.token:-WARN}"/>
    <logger name="jdbc.sql" level="${log.level.jdbc.sql:-ERROR}"/>
    <logger name="com.zaxxer.hikari" level="${log.level.com.zaxxer.hikari:-WARN}"/>
    <logger name="ch.qos.logback" level="${log.level.ch.qos.logback:-WARN}"/>
    <logger name="org.apache.cxf" level="${log.level.ch.qos.logback:-WARN}"/>

    <root level="INFO">
        <appender-ref ref="defaultLogger"/>
    </root>
</configuration>
